.top-of-page{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  float: left;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

#nav{
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-size: 1.3em;
  text-align: center;
  max-width: px;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: black;
}

.big-text{
font-size: 80px;
margin-bottom: 60px;
margin-top: 50px;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

.first-page-italic{
font-size: 20px;
font-weight: bold;
margin-bottom: 110px;
}

.home-page-bg{
  color: white;
  background-image: url("../images/cappucino.jpg");
  vertical-align: middle;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  }

#contact-us{
  margin-top: 80px;
text-align: center;
display: inline-block;
height: auto;
padding: 14px 30px;
background: black;
font-family: 'Arial', sans-serif;
font-size: 12px;
line-height: 1;
text-transform: uppercase;
}

.bottom-pg-margin{
  margin-top: 70px;
  margin-bottom: 60px;
}

.about-pg{
  margin-top: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}
.about-top{
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.cat-pic{
  margin-top: 105px;
  margin-left: 20px;
}

#caption{
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  margin-right: 50px;
  margin-top: 5px;
}
.menu-title{
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}
.menu-subh{
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.bottom-margin{
  margin-bottom: 60px;
}
.menu-tinytext{
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  line-height: 20px;
}
.pumpkin-pie{
  margin-top: 50px;
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: black;
}
.daily-special-title{
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  margin-bottom: 30px;
}
.daily-special-subtitle{
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: black;
}
