.top-of-page{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  float: left;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.active-page{
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
  color: white;
  margin-right: 2px;
  margin-left: 2px;
}
.active-page:hover {
  background-color: gray;
  text-decoration: none;
  color: white;
}
.nonactive-page{
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  margin-right: 2px;
  margin-left: 2px;
  border: solid 1px transparent;
  padding-left: 1px;
  padding-right: 1px;
}
.nonactive-page:hover{
  border: solid 1px black;
  text-decoration: none;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 1px;
}
#nav{
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-size: 13px;
  text-align: center;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 5px;
  text-decoration: none;
  color: black;
}
.nav-pad{
  padding: 20px;
}
a {
    color: black;
}

.big-text{
font-size: 80px;
margin-bottom: 60px;
margin-top: 50px;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

.first-page-italic{
font-size: 20px;
font-weight: bold;
margin-bottom: 110px;
font-family: 'Montserrat', sans-serif;
}

.home-page-bg{
  color: white;
  background-image: url("../images/cappucino.jpg");
  vertical-align: middle;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  }

#contact-us{
  margin-top: 80px;
text-align: center;
display: inline-block;
height: auto;
padding: 14px;
background: black;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
line-height: 1;
text-transform: uppercase;
}

.bottom-pg-margin{
  margin-top: 70px;
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.about-pg{
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 25px;

}
.bottom-pg{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 25px;

}
.about-top{
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.cat-pic{
  margin-top: 105px;
  margin-left: 20px;
}

#caption{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-right: 50px;
  margin-top: 5px;
}
.menu-title{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}
.menu-subh{
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.bottom-margin{
  margin-bottom: 60px;
}
.menu-tinytext{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
}
.menu-semibold{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 35px;
  font-weight: 600;
}
.menu-bodytext{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 35px;
  font-style: italic;
}
.menu-nonitalic{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 35px;
}
.pumpkin-pie{
  margin-top: 50px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
}
.daily-special-title{
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}
.daily-special-subtitle{
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
}
.dailyspecial-bodytext{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}
.dailyspecial-margin{
  margin-bottom: 60px;
}

.menu-maxwidth{
  max-width: 700px;
  margin-left: 240px;
}
